<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/js/common.js}" type="text/javascript"></script>
<script>
    async function saveContents() {
        const formData = new FormData(document.getElementById("contentsForm"));
        const jsonData = await com_formDataPostReq("./createBoard", formData);
    }
</script>
<form id="contentsForm">
    <table>
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>제목 : </td>
            <td><input name="boardTitle" type="text" placeholder="제목"/></td>
        </tr>
        <tr>
            <td>컨텐츠 : </td>
            <td> <textarea name="boardContents" placeholder="컨텐츠 내용을 입력해주세요."></textarea> </td>
        </tr>
        </tbody>
    </table>
    <input type="button" value="저장" onclick="saveContents()"/>
</form>
</body>
</html>